body {
    font-family: Arial;
    background-color: lightblue;
}

h1 {
    color: darkblue;
}

h2 {
    color: blue;
}

p {
    color: black;
}

a {
    background-color: yellow;
    text-decoration: none;
}

footer {
    text-align: center;
}
img{
    width: 550px;
}
.regime{
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 20px;
    
}
.regime:hover{
    color: gray;
}
ul{
    padding-left: 50px;
}

li{
    padding-bottom: 20px;
}
